body {
  background: #0e0e0e;
  color: #fff;
  font-family: system-ui, sans-serif;
  padding: 20px;
}
  
#version {
  font-size: 5px;
  position: absolute;
  border: 2px solid green;
  top: 0px;
  right: 0px;
}

#enable-reset {
  width: 24px;
  height: 24px;
  text-align: center;
}

.container {
  background-color: #0e0e0e;
  color: #fff;
  border: 2px solid #444;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2px;
  text-align: center;
  box-shadow: inset 0 0 4px 1px skyblue;
}

#boss-loot-list {
  font-size: 14px;
  text-align: left;
}

.bar {
  width: 100%;
  height: 22px;
  background: #222;
  border-radius: 11px;
  overflow: hidden;
  margin-top: 6px;
}

.fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, red, orange);
  transition: width 0s;
}
  
#boss-hp-text {
  margin-top: 6px;
}

.card {
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  padding: 0px 2px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  min-width: 90px;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}

.card.common {
  background: #2e2e2e;
  color: #ddd;
  border: 1px solid #555;
}
.card.rare {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #e0ecff;
  border: 1px solid #4fa3ff;
}
.card.epic {
  background: linear-gradient(135deg, #5f2c82, #8e44ad);
  color: #f2d9ff;
  border: 1px solid #c77dff;
}
.card.legendary {
  background: linear-gradient(135deg, #ffcc00, #ff8800);
  color: #1a1a1a;
  font-weight: bold;
  border: 1px solid #ffd700;
  box-shadow: 0 0 8px rgba(255, 200, 0, 0.7);
}

.eventdrop {
  background: linear-gradient(135deg, #8b0000, #ff1a1a);
  color: #ffe6e6;
  font-weight: bold;
  border: 1px solid #ff4d4d;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    border-radius: 6px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(222, 84, 72, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0);
    }
}           

.changebtn {
  width: 24px;
  height: 24px;
  text-align: center;
}