body {
  background: #0e0e0e;
  color: #fff;
  font-family: system-ui, sans-serif;
  padding: 20px;
}
  
#version {
  font-size: 5px;
  position: absolute;
  border: 2px solid green;
  top: 0px;
  right: 0px;
}

#enable-reset {
  width: 24px;
  height: 24px;
  text-align: center;
}

.container {
  background-color: #0e0e0e;
  color: #fff;
  border: 2px solid #444;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2px;
  text-align: center;
  box-shadow: inset 0 0 4px 1px skyblue;
}

#boss-loot-list {
  font-size: 14px;
  text-align: left;
}

.bar {
  width: 100%;
  height: 22px;
  background: #222;
  border-radius: 11px;
  overflow: hidden;
  margin-top: 6px;
}

.fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, red, orange);
  transition: width 0s;
}
  
#boss-hp-text {
  margin-top: 6px;
}

.card {
  padding: 0px 2px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  min-width: 90px;
  text-align: center;
}

.common { background: #777; }
.rare   { background: #3498db; }
.epic   { background: purple; }

.eventdrop {
    background: red;
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgba(222, 84, 72, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(222, 84, 72, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0);
    }
}           

.changebtn {
  width: 24px;
  height: 24px;
  text-align: center;
}